/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 1px;
}

section.hobbies {
    padding: 30px;
    background-color: #e6f2ff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #0073e6;
    font-size: 1.8em;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 12px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1.1em;

    background-color: transparent;
    box-shadow: none;
}


footer {
    background-color: #004d99;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el botón */
.volver {
    text-align: center;
    margin-top: 40px;
}

.volver a {
    text-decoration: none;
}

.volver button {
    background-color: #0059b3;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    font-size: 1.2em;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}