
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: midnightblue;
    color: white;
    text-align: center;
    padding: 10px;
}
section {
    padding: 20px;
}
h1, h2 {
    color: dodgerblue;
}
p {
    font-size: 1.1rem;
}
ul {
    list-style-type: square;
    margin-left: 20px;
}

.hobby button {
    background-color: red;
    color: white;
    font-size: 1.1rem;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}



.volver button {
    background-color: #0056b3;
    color: white;
    font-size: 1.1rem;
    padding: 12px 30px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s;
}

